#mast\.datapower\.cryptoButtons{
    width: 12%;
    text-align: right;
    vertical-align: top;
}

.mast\.datapower\.cryptoButton{
    width: 200px;
    text-align: right;
    background-color: #056BB0;
    border-color: #056BB0;
    color: white;
}

#mast\.datapower\.cryptoForm{
    width: 35%;
    vertical-align: top;
}

.mast\.datapower\.cryptoForm{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    text-align: left;
}

#mast\.datapower\.cryptoOutput{
    width: 100%;
    text-align: left;
    vertical-align: top;
}

#mast\.datapower\.cryptoOutputResults{
    width: 100%;
    text-align: left;
    vertical-align: top;
}
